<template name="terms">
    <div id="terms" class="dialog">
        <div class="dialog-container flex-column">
            <i class="close icon fa fa-times" aria-hidden="true"></i>
            <h1>ORCHESTRA TUTOR, LLC TERMS OF USE</h1>
            <h3>Welcome to Orchestra Tutor!</h3>

            Orchestra Tutor, LLC (“Orchestra Tutor”) is a subscription service that provides students, orchestra directors, and private teachers with exceptional video tutorials for beginning to medium-level orchestral instruments (the “Library”). Below you will find the Terms of Use that our pesky lawyers require you to agree to in order to provide you with access to the Library. We promise to keep it as short as our lawyers will allow.

            <h3>Overview</h3>

            Orchestra Tutor owns and operate this Website, the Library, and all content contained therein. This document governs your relationship with Orchestra Tutor, this Website, and the Library. Access to and use of this Website, including the Library and other products and services potentially made available through this Website or the Library (collectively, the “Services”) are subject to the following terms, conditions, and notices (the “Terms of Service”). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service.

            <h3>Intellectual Property, Software and Content</h3>

            Access to the Library is permitted on a subscription-only basis for your personal and non-commercial use, and we reserve the right to withdraw or amend such access without notice. The intellectual property rights with regard to all software and content (including audio files and photographic images) made available to you on or through this Website and the Library remain the property of Orchestra Tutor and any third parties affiliated therewith. All such rights are reserved by Orchestra Tutor and its third-party affiliates.

            YOU ARE NOT PERMITTED TO PUBLISH, MANIPULATE, DISTRIBUTE OR OTHERWISE REPRODUCE, IN ANY FORMAT, ANY OF THE CONTENT OR COPIES OF THE CONTENT SUPPLIED TO YOU OR WHICH APPEAR ON THIS WEBSITE OR IN THE LIBRARY, NOR MAY YOU USE ANY SUCH CONTENT IN CONNECTION WITH ANY BUSINESS OR COMMERCIAL ENTERPRISE. YOU MAY NOT SHARE ANY PASSWORD-PROTECTED CONTENT ON THIS SITE, AND YOU MAY NOT SHARE OR DISTRIBUTE YOUR USER NAME OR PASSWORD FOR ACCESS TO THE LIBRARY WITH ANY THIRD PARTY, EITHER FOR PROFIT OR OTHERWISE, WITHOUT THE EXPRESS WRITTEN PERMISSION OF ORCHESTRA TUTOR.

            <h3>Linking to this Website</h3>

            You may link to our home page, at www.orchestratutor.com, provided you do so in a way that is fair and legal and does not damage or take advantage of our reputation, but you must not establish a link in such a way as to suggest any form of association, approval, or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. This Website must not be framed on any other site, nor may you create a link to any part of this Website other than the home page without express written permission. We reserve the right to withdraw linking permission without notice.

            <h3>Disclaimer of Warranty</h3>

            From time to time, we may have to restrict access to some parts or all of this Website, including the Library, for maintenance or other purposes. The service and all content and software associated therewith, or any other features or functionalities associated with the service, are provided “as is” and “as available” with all faults and without warranty of any kind. Orchestra Tutor does not guarantee, represent, or warrant that your use of the Services will be uninterrupted or error-free.

            <h3>Indemnification</h3>

            You agree to indemnify, defend and hold harmless Orchestra Tutor, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use of this Website or your breach of the Terms of Service.

            <h3>Governing Law</h3>

            These Terms of Use shall be governed and construed in accordance with the laws of the state of Texas. You may also be entitled to certain consumer protection rights under the laws of your local jurisdiction. Exclusive venue for purposes of any controversy, claim, or cause of action proceeding in court and brought by or on behalf of any party to these Terms of Use, is in any state or federal court of competent jurisdiction presiding over Travis County, Texas.
        </div>
    </div>
</template>