<template name="landingPage">

    <div class="first-part">
        <div class="promo1">
            <p>Tutorial videos for your string orchestra music</p>
        </div>
    </div>

    <div class="wave" id="wave">
        <div class="action-bar flex-row">

            <div class="spacer"></div>

            <div class="actions flex-row">
                <div class="action">
                    <span>Free Trial</span>
                    <div class="action-side flex-row">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="action">
                    <span>Join Now</span>
                    <div class="action-side flex-row">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="action">
                    <span>Learn More</span>
                    <div class="action-side flex-row">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-column second-part">
        <div class="flex-row info-containers">
            <div class="flex-column info-container">
                <h2>Orchestra Directors</h2>
                <img src="/feature-sign-up.jpg" width="100%">
                <h3>Sign Up Your Classroom or School</h3>
                <span>Let us help maximize your classroom rehearsal time by providing tutorial videos over the parts to your pieces, beginner basics, scales, region and state audition music, and more. As an educator, you can sign up your orchestra by using a classroom subscription with the option to add seats for your students at a discounted price. Use our videos for sectionals!</span>
            </div>

            <div class="flex-column info-container">
                <h2>What is Orchestra Tutor?</h2>
                <img src="/feature-instruments.jpg" width="100%">
                <h3 style="width: 65%;">Videos for Violin, Viola, Cello, and Bass</h3>
                <span>Our experienced, professional string players record videos that simulate private lessons to show students exactly what to do to achieve specific fingerings, bowings, dynamics and styles. Our tutors explain and demonstrate instrument-specific tips, and even point out possible test sections based on what's happening in the overall music.</span>
            </div>

            <div class="flex-column info-container">
                <h2>Parents and Students</h2>
                <img src="/String-Student-2.jpg" width="100%">
                <h3>Sign Up as an Individual Student</h3>
                <span>Students can practice more effectively and save time by accessing our videos anytime, anywhere, as a supplement between rehearsals and lessons. We offer help with general string technique and the parts to their orchestra pieces, region audition music, and even difficult etudes. Students can even watch our videos on tablets and phones!</span>
            </div>
        </div>

    </div>

</template>
