<template name="sidebar">
    <div class="flex-column sidebar">

        <a href="">
            <div class="sidebar-unit flex-row">
                <i class="sidebar-link fa fa-play" aria-hidden="true"></i>
                <span class="label">Videos</span>
            </div>
        </a>

        <a href="">
            <div class="sidebar-unit flex-row">
                <i class="sidebar-link fa fa-users" aria-hidden="true"></i>
                <span class="label">Account</span>
            </div>
        </a>

        <a href="">
            <div class="sidebar-unit flex-row">
                <i class="sidebar-link fa fa-book" aria-hidden="true"></i>
                <span class="label">Homework</span>
            </div>
        </a>

    </div>
</template>