<template name="login">
    <div class="flex-column full-container">
        <div class="flex-column login-container">
            <h4>Login</h4>

            <form id="login-form">
                <input name="email" type="email" class="text-input form-control billing-name" placeholder="Email" required>
                <input name="password" type="password" class="text-input form-control billing-name" placeholder="Password" required>
                <button type="submit" class="login btn-signup">Login</button>
            </form>
        </div>
    </div>
</template>